
<h1>GutsMVC</h1>
<h3>@Model.Id</h3>
<h3>@Model.Name</h3>

<button id="getTest" type="button">Get</button>
<button id="postTest" type="button">Post</button>

<script src="../../wwwroot/Script/jquery.min.js"></script>
<script src="../../wwwroot/Script/jsAjaxTest.js"></script>
@*<script>
    $(function () {
        $("#getTest").click(function () {
            var user = { id: "6123", name: "Kira" };
            $.post("http://localhost:17758/home/getrazor/", user, function (data) {
                alert(data.status);
            });
        })
    });
</script>*@