<html>
<head>
    <script src="../../Script/jquery.min.js"></script>
</head>
<body>
    <ul>
        <li>$Model.Id</li>
        <li>$Model.Name</li>
    </ul>
    <button id="getTest" type="button">Get</button>

    <script>
         jQuery(function ($) {
             //var j = jQuery.noConflict();
             $("#getTest").click(function () {
                 $.get("http://localhost:17758/home/gettest/", { name: "Kira", id="6123" }, function (data) {
                     alert("id:" + data.id + "\nname:" + data.name)
                 });
             });
         });
    </script>
</body>
</html>